.container {
  text-align: center;
  padding: 100px 20px;
}

h1 {
  font-size: 80px;
  color: #cc0000;
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #0055ff;
}
