.container {
  padding: 20px;
}

select,
button {
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #2b7bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
