.header {
  padding: 15px 20px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 4px #ccc;
}

.role {
  color: #555;
  font-weight: bold;
}
